.message-input-container {
    display: flex;
    gap: 10px;
    /* padding: 10px; */
    background-color: #f9f9f9;
    position: relative; /* ✅ Relative positioning within messages-container */
    width: 100%;
}

.message-input {
    flex: 1;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

.send-button {
    padding: 10px 15px;
    border: 1px solid black;
    background-color: #dee9ff;
    color: black;
    border-radius: 5px;
    cursor: pointer;
}

.send-button:hover {
    background-color: #5a6a90;
}
