/* Main chat container */
.chat-container {
    display: flex;
    height: 100vh;
    width:100vw;
  }
  
  /* Sidebar (User List) */
  .sidebar {
    width: 25%;
    background-color: #f0f0f0;
    display: flex;
    flex-direction: column;
    gap: 10px;
    border-right: 2px solid #ddd;
    color:black;
  }
  
  /* Chat area (Messages + Input) */
  .chat-area {
    flex: 1;  /* Takes the remaining space */
    display: flex;
    flex-direction: column;
    /* padding:10px; */
    background-color: #ffffff;
    color:black
  }
  
  
  
  
  
  
  